@font-face {
    font-family: GoogleSans;
    src: url(fonts/GoogleSans-Regular.ttf);
}
* {box-sizing: border-box;}
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: GoogleSans;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.primary-color {background-color: #0078d4;}
.secondary-color {background-color: #b7472a;}
.darkbg-color {background-color: #323130;}
.text-primary-color {color: #0078d4;}
.text-darkbg-color {color: #ffffff;}
.text-lightbg-color {color: #323130;}
.header {width: 100%;}
.header .header-row {
    display: flex;
    width: 100%;
    height: 64px;
    padding-left: 64px;
}
.header .header-row .header-title {
    font-size: 64px;
    font-weight: bold;
}
.shadow-box {
    box-shadow: 0px 2px 4px #323130;
}
.rounded-corner {
    border-radius: 2px;
}
.main-layout {
    display: flex;
    width: 100%;
    justify-content: center;
}
.main-layout .main-layout-container {
    margin: 64px;
    width: 512px;
    height: fit-content;
}
.main-layout .main-layout-container .container-tabs {
    display: flex;
    width: 100%;
}
.main-layout .main-layout-container .container-tabs__tab {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    transition: 0.3s;
}
.main-layout .main-layout-container .container-tabs__tab:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #323130;
}
.main-layout .main-layout-container .title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}
.main-layout .main-layout-container .audio-container {
    width: 100%;
    height: fit-content;
    padding: 5px;
    transition: 1s;
}
.main-layout .main-layout-container .audio-container .audio-player {
    width: 100%;
}
.main-layout .main-layout-container .audio-container .audio-list {
    padding-top: 10px;
    width: 100%;
    height: fit-content;
}
.main-layout .main-layout-container .audio-container .audio-list .audio-list-element {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    transition: 0.5s;
}
.main-layout .main-layout-container .audio-container .audio-list .audio-list-element:hover {
    cursor: pointer;
    background-color: #0078d4;
    color: #ffffff;
}
.main-layout .main-layout-container .video-container {
    display: flex;
    width: 100%;
    height: 100%;          
    padding: 5px;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
}
.main-layout .main-layout-container .video-container .video-player {
    width: 100%;
}